// WordCamp Bangkok 2025 - Attendees Styles
// ========================================

@use "colors";
@use "typography";

// Attendees list
#tix-attendees ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 2rem 1rem;
  justify-items: center;
  padding-inline-start: 0;
}

#tix-attendees .tix-columns-3 li {
  display: inline-flex;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin-block-end: 0;
  width: auto !important;
}

#tix-attendees .avatar {
  float: none;
  margin-block-end: 0.5rem;
}

#tix-attendees .tix-field {
  margin-inline-start: 0 !important;
  font-size: 0.75rem !important;
  width: auto !important;
  text-align: center;
}

