// WordCamp Bangkok 2025 - Footer Styles
// =====================================

@use "colors";
@use "typography";

// Footer template part
footer.wp-block-template-part {
  margin-block-start: 8rem;
}

.footer-site {
  padding-block-end: 3rem !important;

  h3 {
    margin-block-end: 1.25rem;
  }

  nav {
    gap: 0.5rem;

    .wp-block-navigation-item__content:hover {
      color: var(--clr-pink);
    }
  }
}

@media (width < 769px) {
  .footer-site .footer-navigation {
    flex-direction: column;

    h3 {
      margin-block: 2rem 1rem;
    }
  }
}
