// WordCamp Bangkok 2025 - Footer Styles
// =====================================

@use "colors";
@use "typography";

// Footer template part
footer.wp-block-template-part {
  margin-block-start: 0;
}

.footer-site {
  margin-block-start: 4rem;
  padding-block-end: 3rem !important;

  h3 {
    font-family: var(--wp--preset--font-family--optic);
    margin-block-end: 1.25rem;
  }

  nav {
    gap: 0.5rem;

    .wp-block-navigation-item__content:hover {
      color: var(--wp--preset--color--custom-accent-seven);
    }
  }
}

.page-slug-home :where(.footer-site) {
	margin-block-start: 0;
}

@media screen and (max-width: 768px) {
  .footer-site .footer-navigation {
    flex-direction: column;

    h3 {
      margin-block: 2rem 1rem;
    }
  }
}
