// WordCamp Bangkok 2025 - Header Styles
// =====================================

@use "colors";
@use "typography";

// Layout constraints
.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 768px;
}

// Main logo
.main--logo img {
  display: block;
  margin: 0 auto 50px;
  max-width: 1024px;
}

// Header template part
header.wp-block-template-part {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

// Header info
.header-info {
  padding-block: 1rem;

  h1, 
  p {
    white-space: nowrap;
  }
}

// Header info wrapper
.header-info-wrapper {
	max-width: 100% !important;
}


// Header info wrapper responsive
@media screen and (max-width: 1023px) {
  .header-info-wrapper {
    flex-direction: column;

    .is-content-justification-left,
    .is-content-justification-right {
      justify-content: center;
    }
  }
}

// The info responsive
@media screen and (max-width: 439px) {
  .the-info {
    flex-direction: column;
    gap: 0;
  }
}
