// WordCamp Bangkok 2025 - Navigation Styles
// =========================================

@use "colors";
@use "typography";

// Navigation dropdown
.wp-block-navigation .has-child:not(.open-on-click):hover > .wp-block-navigation__submenu-container {
  font-size: 0.9em;
  width: 240px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

// Navigation dropdown mobile
@media screen and (max-width: 599px) {
  .wp-block-navigation .has-child:not(.open-on-click):hover > .wp-block-navigation__submenu-container {
    font-size: 1em;
    width: auto;
    box-shadow: none;
  }
}

// Main navigation
.main-navigation {
  padding-block: 0.5rem;

  .current-menu-item {
    border-bottom: 2px solid var(--clr-white);
  }

  .wp-block-navigation-item__content {
    font-size: 1.4rem;
    line-height: 2;
    margin-top: 1rem;
  }

  .wp-block-navigation .wp-block-navigation-item__label {
    padding-inline: 1rem;
  }
}

// Navigation responsive
@media screen and (min-width: 600px) {
  .main-navigation .is-content-justification-center {
    flex-direction: column;
  }

  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex !important;
  }
}

@media screen and (min-width: 769px) {
  .main-navigation {
    padding-block: 0;

    .wp-block-navigation-item__content {
      font-size: inherit;
      line-height: inherit;
      margin-top: inherit;
    }

    .wp-block-navigation .wp-block-navigation-item__label {
      padding-inline: 0;
    }
  }

  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none !important;
  }
}
