// WordCamp Bangkok 2025 - Sessions Styles
// =======================================

@use "colors";
@use "typography";

.wordcamp-schedule {
	.wordcamp-schedule__date {
		color: var(--wp--preset--color--accent-3);
		font-family: var(--wp--preset--font-family--optic);
		letter-spacing: 1px;
		font-size: 1.6rem;
		text-align: center;
		text-transform: uppercase;

		&:before {
			content: "- "
		}
		
		&:after {
			content: " -"
		}
	}

	.wordcamp-schedule__day {
		border-radius: 0.5rem;

		.wordcamp-schedule__time-slot-header {
			position: relative;
			text-align: left;
			background-color: var(--wp--preset--color--accent) !important;
			color: var(--wp--preset--color--white);
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: 600;
			margin-block: 0 !important;

			// &:after {
			// 	content: "";
			// 	position: absolute;
			// 	background-color: var(--wp--preset--color--accent);
			// 	height: 3ch;
			// 	left: 95px;
			// 	right: 0;
			// }

			// &:nth-child(5):after {
			// 	left: 100px;
			// }

			// &:nth-child(9):after {
			// 	left: 85px;
			// }

			// &:nth-child(11):after {
			// 	left: 90px;
			// }

			// &:nth-child(13):after {
			// 	left: 90px;
			// }
		}

		.wordcamp-schedule__session:nth-child(16) {
			border-bottom: none !important;
		}
	}

	.wordcamp-schedule__session,
	.wordcamp-schedule__time-slot-header {
		box-shadow: none !important;
		border-bottom: 2px solid var(--wp--preset--color--base) !important;
	}

	.wordcamp-schedule__time-slot-header:nth-child(15) {
		border-bottom: none !important;
	}

	.wordcamp-schedule__time-slot-header:nth-child(1) {
		border-top-left-radius: 0.5rem;
	}

	.wordcamp-schedule__time-slot-header:nth-child(15) {
		border-bottom-left-radius: 0.5rem;
	}

	.wordcamp-schedule__session-title {
		font-size: 1rem;
		margin-block-end: 0;
		font-weight: 500;
	}

	.wordcamp-schedule__session p {
		margin-block: 0;
		font-size: 0.8rem;
		font-style: italic;
		opacity: 0.7;
	}

	@media screen and (max-width: 549px) {
		.wordcamp-schedule__session {
			border-left: none;
			border-right: none;
		}

		.wordcamp-schedule__time-slot-header:nth-child(1) {
			border-top-right-radius: 0.5rem;
		}

		.wordcamp-schedule__time-slot-header:nth-child(15) {
			border-bottom-left-radius: 0;
		}

		.wordcamp-schedule__time-slot-header {
			border-bottom: none !important;
		}
	}
}

.wordcamp-schedule-conference.wordcamp-schedule {

	.wordcamp-schedule__column-header {
		background-color: var(--wp--preset--color--custom-accent-dark) !important;
		color: var(--wp--preset--color--white);
		font-family: var(--wp--preset--font-family--optic);
		font-weight: 800;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 10px !important;
		margin: 0 !important;

		&.is-column-time {
			border-top-left-radius: 0.5rem;
		}

		&.is-column-track-room-b-floor-3 {
			border-top-right-radius: 0.5rem;
		}
	}

	.wordcamp-schedule__session {
		&.is-spanning-all-tracks, &.has-slug-break-10-min-2 {
			background-color: #f0f3f2;

			.wordcamp-schedule__session-title {
				justify-content: center;
				opacity: 0.9;
			}
		}

		.wordcamp-schedule__session-title {
			line-height: 1.4;
			font-size: 0.9rem;
		}

		p {
			display: none;
		}

		.wordcamp-schedule__session-speakers {
			font-style: italic;
			font-size: 0.75rem;
			margin-block: 0.25rem 0;
			opacity: 0.75;
			
			a {
				color: var(--wp--preset--color--contrast);
			}
		}
	}

	.wordcamp-schedule__time-slot-header:nth-child(15) {
		border-bottom: 2px solid var(--wp--preset--color--base) !important;
		border-bottom-left-radius: 0;
	}

	.wordcamp-schedule__time-slot-header:nth-child(50) {
		border-bottom: none !important;
		border-bottom-left-radius: 0.5rem;
	}

	.wordcamp-schedule__day {

		// .wordcamp-schedule__time-slot-header {
		// 	&:nth-child(10):after {
		// 		left: 105px;
		// 	}

		// 	&:nth-child(12):after {
		// 		left: 105px;
		// 	}

		// 	&:nth-child(25):after {
		// 		left: 90px;
		// 	}

		// 	&:nth-child(27):after {
		// 		left: 90px;
		// 	}

		// 	&:nth-child(40):after {
		// 		left: 90px;
		// 	}
		// }

		.wordcamp-schedule__session:nth-child(16) {
			border-bottom: 2px solid var(--wp--preset--color--base) !important;
		}

		.wordcamp-schedule__session:nth-child(51) {
			border-bottom: none !important;
			border-bottom-right-radius: 0.5rem;
		}
	}

	@media screen and (max-width: 549px) {
		.wordcamp-schedule__session {
			&.is-spanning-all-tracks, &.has-slug-break-10-min-2 {
				.wordcamp-schedule__session-title {
					justify-content: flex-start;
				}

				.wordcamp-schedule__session-tracks {
					display: none;
				}
			}
	
			.wordcamp-schedule__session-title {
				font-size: 1rem;
			}
		}

		.wordcamp-schedule__session-tracks {
			display: inline-block;
			background-color: var(--wp--preset--color--custom-accent-seven);
			border-radius: 0.25rem;
			font-size: 0.75rem;
			font-weight: 600;
			padding: 0.25rem 0.5rem;
		}

		.wordcamp-schedule__time-slot-header:nth-child(4) {
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
		}

		.wordcamp-schedule__time-slot-header:nth-child(50) {
			border-bottom-left-radius: 0;
		}

		.wordcamp-schedule__day {
			.wordcamp-schedule__session:nth-child(51) {
				border-bottom-left-radius: 0.5rem;
			}
		}
	}
}