// WordCamp Bangkok 2025 - Sponsors Styles
// =======================================

@use "colors";
@use "typography";

// Sponsors section
.sponsors-section {
  margin-block-start: 0;
  padding-block: 4rem 2rem !important;
}

// Sponsors list
.sponsors-list .wcb_sponsor figure {
  margin-block: 0;
}

.sponsors-list .wp-container-core-post-template-is-layout-572542b5 {
  align-items: center;
}

@media screen and (max-width: 599px) {
  .sponsors-list .wp-container-core-post-template-is-layout-572542b5 {
    grid-template-columns: 1fr 1fr !important;
  }
}

// Sponsor levels
.sponsor-gold .wp-block-query ul,
.sponsor-silver .wp-block-query ul,
.sponsor-bronze .wp-block-query ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}

.sponsor-gold .wp-block-query ul .wp-block-post-featured-image {
  margin-block-end: 0;
  height: 120px;
}

.sponsor-silver .wp-block-query ul .wp-block-post-featured-image {
  margin-block-end: 0;
  height: 100px;
}

.sponsor-bronze .wp-block-query ul .wp-block-post-featured-image {
  margin-block-end: 0;
  height: 80px;
}

.sponsor-gold {
  margin-inline: auto;
  width: min(100%, 1200px);
}

.sponsor-micro {
  margin-inline: auto;
  width: min(100%, 1200px);
}

@media screen and (max-width: 768px) {
  .sponsor-gold .wp-block-query ul .wp-block-post-featured-image, 
  .sponsor-silver .wp-block-query ul .wp-block-post-featured-image, 
  .sponsor-bronze .wp-block-query ul .wp-block-post-featured-image {
    height: 80px;
  }
}

.single-wcb_sponsor main .wp-block-post-title {
	text-align: center;
}

.single-wcb_sponsor main .wp-block-post-title+figure {
	background-color: var(--wp--preset--color--white);
	border-radius: 1rem;
	padding: 1rem;
}

.page-slug-sponsors .entry-content .wp-block-post-template {
  padding-inline-start: 0;
}

.page-slug-sponsors .wcb_sponsor figure {
	background-color: var(--wp--preset--color--white);
	border-radius: 1rem;
	padding: 1rem;
}