// WordCamp Bangkok 2025 - Tickets Styles
// ======================================

@use "colors";
@use "typography";

// General Table Styles
.tix_tickets_table {
  width: 100%;
  border-collapse: collapse;
  margin-block: 25px;
  font-family: var(--wp--preset--font-family--noto-sans-thai-looped);
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

// Table Header
.tix_tickets_table thead tr {
  background-color: var(--wp--preset--color--accent);
  color: var(--wp--preset--color--white);
  text-align: left;
  font-weight: bold;
}

// Table Cells
.tix_tickets_table th,
.tix_tickets_table td {
  padding: 12px 15px;
}

// Table Body
.tix_tickets_table tbody tr {
  border-bottom: 1px solid var(--clr-border-light);
  background-color: var(--wp--preset--color--base);

  &:nth-of-type(even) {
    background-color: var(--wp--preset--color--white);
  }

  &:hover {
    background-color: #f1f1f1;
  }
}

// Column Specific Styles
.tix-column-description {
  font-weight: bold !important;
  text-align: left !important;
}

.tix-column-price,
.tix-column-remaining,
.tix-column-quantity {
  text-align: center;
}

// Quantity Dropdown
.tix-column-quantity select {
  width: 100%;
  padding: 12px 20px 12px 10px;
  font-size: 1rem;
  border: 1px solid var(--clr-border-medium);
  border-radius: 6px;
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--contrast);
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: var(--wp--preset--color--accent);
  }
}

// Ticket form
table.tix-ticket-form {
  background-color: var(--wp--preset--color--white);
  border-radius: 15px;
  padding: 1rem 1.5rem;
  width: 100%;

  th, 
  td {
    padding: 5px;
  }
}

// Order summary
.tix_tickets_table.tix-order-summary .tix-row-total td {
  text-align: center;
}

// Tix JS submit button
.tix-js input[type="submit"] {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--wp--preset--font-family--prompt);
  box-shadow: 0;
  color: var(--wp--preset--color--white);
  background: var(--wp--preset--color--accent);
  border: none;
  padding: 10px 16px;
  border-radius: 50px;
}

// Hide sold out tickets
.tix-sold-out {
  display: none !important;
}

// Responsive Design for Mobile
@media screen and (max-width: 768px) {
  .tix_tickets_table {
    box-shadow: none;
    border-radius: 0;
  }
  
  .tix_tickets_table thead {
    display: none;
  }
  
  .tix_tickets_table,
  .tix_tickets_table tbody,
  .tix_tickets_table tr {
    display: block;
    width: 100%;
  }
  
  .tix-tickets-list [class^="tix-ticket"] {
    margin-block-end: 1rem;
  }
  
  .tix_tickets_table tbody th.tix-column-description {
    background-color: var(--wp--preset--color--accent);
    color: var(--wp--preset--color--white);
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    display: block;
  }
  
  .tix_tickets_table tbody td.tix-column-description {
    background-color: var(--wp--preset--color--accent);
    color: var(--wp--preset--color--white);
    text-align: left;
    font-weight: bold;
    width: 100%;
  }
  
  .tix_tickets_table td {
    display: block;
    text-align: right;
    padding: 12px 15px;
    position: relative;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
      overflow: hidden;
    }

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      font-weight: bold;
      text-align: left;
      white-space: nowrap;
      color: var(--wp--preset--color--contrast);
    }
  }
  
  .tix_tickets_table td.tix-column-price::before {
    content: "Price:";
  }
  
  .tix_tickets_table td.tix-column-per-ticket::before {
    content: "Per Ticket:";
  }
  
  .tix_tickets_table td.tix-column-remaining::before {
    content: "Remaining:";
  }
  
  .tix_tickets_table td.tix-column-quantity::before {
    content: "Quantity:";
  }
  
  .tix-column-quantity select {
    float: right;
    width: max-content;
    padding-block: 7px;
    text-align: center;
  }
  
  .tix_tickets_table.tix-order-summary .tix-row-total td:nth-child(1) {
    display: none;
  }
  
  .tix_tickets_table.tix-order-summary .tix-row-total td:nth-child(2) {
    text-align: right;
  }
  
  .tix-attendee-form [class^="tix-row"] > .tix-left {
    text-align: left;
    width: calc(100% - 30px);
  }
  
  .tix-attendee-form [class^="tix-row"] > .tix-right {
    text-align: left;
    width: calc(100% - 30px);
  }
  
  .tix-attendee-form [class^="tix-row"] input[type="text"], 
  .tix-attendee-form [class^="tix-row"] input[type="email"], 
  .tix-attendee-form [class^="tix-row"] input[type="url"], 
  .tix-attendee-form [class^="tix-row"] textarea, 
  .tix-attendee-form [class^="tix-row"] select {
    width: inherit;
  }
}

.tix-submit, .tix_tickets_table.tix-tickets-list + p {
  position: relative;
  border: none;
  border-radius: 0.5rem;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 6px;
  transition: filter 250ms;
	background-color: var(--wp--preset--color--custom-accent-dark);

  &:hover {
    filter: brightness(120%);

    .tix-checkout-button {
      transform: translateY(-6px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      text-decoration: none;
    }
  }

  &:active .wp-block-button__link {
    transform: translateY(-2px);
    transition: transform 35ms;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  .tix-checkout-button {
		background-color: var(--wp--preset--color--accent) !important;
    display: block !important;
    border-radius: 0.5rem !important;
    position: relative;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
		margin-top: 0 !important;
		padding-inline: var(--wp--preset--spacing--40) !important;
		padding-block: 0.6rem !important;
  }
}

.tix_tickets_table.tix-tickets-list + p {
  position: relative;
  border: none;
  border-radius: 0.5rem;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 6px;
  transition: filter 250ms;
	background-color: var(--wp--preset--color--custom-accent-dark);
	float: right;

  &:hover {
    filter: brightness(120%);

    input[type="submit"] {
      transform: translateY(-6px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
      text-decoration: none;
    }
  }

  &:active input[type="submit"] {
    transform: translateY(-2px);
    transition: transform 35ms;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  input[type="submit"] {
		background-color: var(--wp--preset--color--accent) !important;
    display: block !important;
    border-radius: 0.5rem !important;
    position: relative;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
		margin-top: 0 !important;
		padding-inline: var(--wp--preset--spacing--40) !important;
		padding-block: 0.6rem !important;
  }
}

#tix-coupon-container input[type="submit"] {
	border-radius: 0.5rem;
	font-size: 0.8rem
}

.tix_tickets_table tbody tr {
	background-color: var(--wp--preset--color--white) !important;
}

.tix_tickets_table.tix-order-summary tbody .tix-row-total {
	background-color: var(--wp--preset--color--custom-accent-dark) !important;
	color: var(--wp--preset--color--white);
}

.tix_tickets_table td {
	border-bottom: 1px solid #eee;
}

input[type=text], input[type=email], input[type=url], textarea, select {
	border: 1px solid #aaa !important;
}

.tix_tickets_table.tix-tickets-list th {
	border-bottom: 1px solid #eee;
}