// WordCamp Bangkok 2025 - Tickets Styles
// ======================================

@use "colors";
@use "typography";

// General Table Styles
.tix_tickets_table {
  width: 100%;
  border-collapse: collapse;
  margin-block: 25px;
  font-family: var(--wp--preset--font-family--noto-sans-thai-looped);
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

// Table Header
.tix_tickets_table thead tr {
  background-color: var(--wp--preset--color--accent);
  color: var(--wp--preset--color--white);
  text-align: left;
  font-weight: bold;
}

// Table Cells
.tix_tickets_table th,
.tix_tickets_table td {
  padding: 12px 15px;
}

// Table Body
.tix_tickets_table tbody tr {
  border-bottom: 1px solid var(--clr-border-light);
  background-color: var(--wp--preset--color--base);

  &:nth-of-type(even) {
    background-color: var(--wp--preset--color--white);
  }

  &:hover {
    background-color: #f1f1f1;
  }
}

// Column Specific Styles
.tix-column-description {
  font-weight: bold !important;
  text-align: left !important;
}

.tix-column-price,
.tix-column-remaining,
.tix-column-quantity {
  text-align: center;
}

// Quantity Dropdown
.tix-column-quantity select {
  width: 100%;
  padding: 12px 20px 12px 10px;
  font-size: 1rem;
  border: 1px solid var(--clr-border-medium);
  border-radius: 6px;
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--contrast);
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: var(--wp--preset--color--accent);
  }
}

// Ticket form
table.tix-ticket-form {
  background-color: var(--wp--preset--color--white);
  border-radius: 15px;
  padding: 1rem 1.5rem;
  width: 100%;

  th, 
  td {
    padding: 5px;
  }
}

// Order summary
.tix_tickets_table.tix-order-summary .tix-row-total td {
  text-align: center;
}

// Tix JS submit button
.tix-js input[type="submit"] {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--wp--preset--font-family--prompt);
  box-shadow: 0;
  color: var(--wp--preset--color--white);
  background: var(--wp--preset--color--accent);
  border: none;
  padding: 10px 16px;
  border-radius: 50px;
}

// Hide sold out tickets
.tix-sold-out {
  display: none !important;
}

// Responsive Design for Mobile
@media screen and (max-width: 768px) {
  .tix_tickets_table {
    box-shadow: none;
    border-radius: 0;
  }
  
  .tix_tickets_table thead {
    display: none;
  }
  
  .tix_tickets_table,
  .tix_tickets_table tbody,
  .tix_tickets_table tr {
    display: block;
    width: 100%;
  }
  
  .tix-tickets-list [class^="tix-ticket"] {
    margin-block-end: 1rem;
  }
  
  .tix_tickets_table tbody th.tix-column-description {
    background-color: var(--wp--preset--color--accent);
    color: var(--wp--preset--color--white);
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    display: block;
  }
  
  .tix_tickets_table tbody td.tix-column-description {
    background-color: var(--wp--preset--color--accent);
    color: var(--wp--preset--color--white);
    text-align: left;
    font-weight: bold;
    width: 100%;
  }
  
  .tix_tickets_table td {
    display: block;
    text-align: right;
    padding: 12px 15px;
    position: relative;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
      overflow: hidden;
    }

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      font-weight: bold;
      text-align: left;
      white-space: nowrap;
      color: var(--wp--preset--color--contrast);
    }
  }
  
  .tix_tickets_table td.tix-column-price::before {
    content: "Price:";
  }
  
  .tix_tickets_table td.tix-column-per-ticket::before {
    content: "Per Ticket:";
  }
  
  .tix_tickets_table td.tix-column-remaining::before {
    content: "Remaining:";
  }
  
  .tix_tickets_table td.tix-column-quantity::before {
    content: "Quantity:";
  }
  
  .tix-column-quantity select {
    float: right;
    width: max-content;
    padding-block: 7px;
    text-align: center;
  }
  
  .tix_tickets_table.tix-order-summary .tix-row-total td:nth-child(1) {
    display: none;
  }
  
  .tix_tickets_table.tix-order-summary .tix-row-total td:nth-child(2) {
    text-align: right;
  }
  
  .tix-attendee-form [class^="tix-row"] > .tix-left {
    text-align: left;
    width: calc(100% - 30px);
  }
  
  .tix-attendee-form [class^="tix-row"] > .tix-right {
    text-align: left;
    width: calc(100% - 30px);
  }
  
  .tix-attendee-form [class^="tix-row"] input[type="text"], 
  .tix-attendee-form [class^="tix-row"] input[type="email"], 
  .tix-attendee-form [class^="tix-row"] input[type="url"], 
  .tix-attendee-form [class^="tix-row"] textarea, 
  .tix-attendee-form [class^="tix-row"] select {
    width: inherit;
  }
}
