/* FOOTER
---------------------------------------*/

.site-footer {
	background-color: $color-rose-pink;
	clear: both;
	.site-info {
		padding: 1em 0;
		text-align: center;
		a {
			color: #fff;
			display: inline-block;
			font-size: 1em;
			@include font-weight(light);
			margin: 0 10px;
			+ a {
				&::before {
					content: "\f19a";
					font-family: FontAwesome;
					display: inline-block;
					padding-right: 16px;
				}
			}
		}
	}
}

#footer-widgets {
	@extend %grid-content;
	overflow: hidden;
	padding: 80px 0 40px;
	.footer-widgets-block {
		float: left;
		width: calc(100% / 2);
		p {
			color: #f7f8f4;
			font-size: 1em;
			@include font-weight(light);
		}
	}
	.widget-title {
		font-size: 1.5em;
		color: #FFF;
	}
}

// a.genericon.genericon-facebook, a.genericon.genericon-twitter, a.genericon.genericon-instagram {
// 	font-size: 3em;
// 	color: $color-primary;
// }

.jetpack_widget_social_icons ul {
	margin-top: 30px;
	li {
		margin: .5em 1em;
	}
}

.jetpack_widget_social_icons ul.size-large a {
	height: 60px;
	width: 60px;
}

.jetpack_widget_social_icons svg {
	fill: $color-navy;
}

#subscribe-email {
	display: inline;
	input {
		width: 40%;
	}
	input[type=email] {
		background-color: transparent;
		border: 1px solid #FFF;
		color: #FFF;
		&::placeholder {
			color: #FFF;
		}
	}
}

#subscribe-submit {
	display: inline;
	input[type="submit"] {
		background-color: #FFF;
		color: $color-rose-pink;
	}
}

#footer-widget-2 {
	text-align: right;
}

#milestone_widget-3.widget.milestone-widget {
	float: right;
}

.milestone-content {
	box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.milestone-header {
	background-color: $color-navy;
	strong {
		color: #fff;
	}
	span.date {
		color: #f9cf9f;
	}
}

.milestone-countdown {
	border: none;
	padding: 1em;
	.difference {
		color: transparent;
		background: linear-gradient(180deg,#d43e38 0%,#ea8c70 100%);
		-webkit-background-clip: text;
		font-family: $font-primary;
		line-height: 1;
	}
}

@media only screen and (max-width: 1024px) {

	#subscribe-email, #subscribe-submit {
		display: block;
		margin-bottom: 10px;
		input[type=email] {
			width: 70%;
		}
		input[type=submit] {
			padding-right: 0;
			padding-left: 0;
			width: 150px;
		}
	}

}

@media only screen and (max-width: 768px) {

// 	#custom_html-2 .textwidget, #footer-widgets {
// 		width: 80%;
// 		max-width: 100%;
// 	}

// 	#custom_html-2 {
// 		.wcorg-sponsors {
// 			h2 {
// 				font-size: 1.8em;
// 			}
// 		}
// 	}

	#secondary-sidebar {
		.widget-title {
			font-size: 2em;
		}
	}

	.jetpack_widget_social_icons ul {
		margin-top: 20px;
	}

}

@media only screen and (max-width: 767px) {

// 	#custom_html-2 {
// 		.wcorg-sponsors {
// 			h2 {
// 				font-size: 1.4em;
// 			}
// 		}
// 		.wcorg-sponsor-level-premium .wcorg-sponsor {
// 			width: 90%;
// 		}
// 		.wcorg-sponsor-level-gold .wcorg-sponsor {
// 			width: 80%;
// 		}
// 		.wcorg-sponsor-level-silver .wcorg-sponsor {
// 			width: 70%;
// 		}
// 		.wcorg-sponsor-level-bronze .wcorg-sponsor {
// 			width: 60%;
// 		}
// 		.wcorg-sponsor-level-in-kind .wcorg-sponsor {
// 			width: 60%;
// 		}
// 	}

	#footer-widgets {
		.footer-widgets-block {
			float: none;
			width: 100%;
		}
	}

	#subscribe-email, #subscribe-submit {
		input[type=email] {
			width: 80%;
		}
		input[type=submit] {
			margin-left: 0;
			width: 150px;
		}
	}

	#milestone_widget-3.widget.milestone-widget {
		float: none;
	}
}

@media only screen and (max-width: 480px) {
	.site-footer {
		.site-info {
			a {
				+ a {
					&::before {
						content: "";
						padding-right: 0;
					}
				}
			}
		}
	}
}



/* SIDEBAR WIDGET
---------------------------------------*/

#secondary-sidebar .widget {
	position: relative;
	background-color: #f8f8f8;
	margin: 0;
	padding: 2.5rem 0 1.5rem 0;
	&:before {
		background-color: #f2f2f2;
	}
	.widget-title {
		font-size: 1.25em;
		text-align: center;
		margin-bottom: 1rem;
	}
}

#secondary-sidebar .widget:before {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: -1000px;
	right: -1000px;
	background-color: inherit;
	content: "";
}

.list-social {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.list-social:after,.list-social:before {
	content: "";
	display: table;
}

.list-social:after {
	clear: both;
}

.list-social li {
	font-size: 1em;
	line-height: 1.25em;
	display: block;
	margin-top: 0;
	text-align: center;
}

@media (min-width:24em) {
	.list-social li {
		width: 46%;
		display: inline-block;
	}
}

@media (min-width:37.5em) {
	.list-social li {
		width: 30%;
		min-width: 12.5rem;
	}
}

.list-social strong {
	display: block;
	color: inherit;
}

.list-social a {
	position: relative;
	display: block;
	padding: 1rem;
	padding-top: 4.25rem;
	color: $color-navy;
	border-radius: 0;
	text-decoration: none;
}

.list-social a:empty {
	display: none;
}

.list-social a:after,.list-social a:before {
	position: absolute;
	top: 20%;
	left: 50%;
	content: "";
}

.list-social a:after {
	font-family: FontAwesome;
	font-size: 2rem;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 3rem;
	height: 3rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 36px;
}

.list-social a:active,.list-social a:focus,.list-social a:hover {
	text-decoration: none;
	color: $color-rose-pink;
	background: $color-white;
}

.list-social .social-twitter a:after {
	content: "\f099";
}

.list-social .social-facebook a:after {
	content: "\f09a";
}

.list-social .social-instagram a:after {
	content: "\f16d";
}