/* FORM
---------------------------------------*/

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	background-color: $color-orange;
	background-image: none;
	box-sizing: border-box;
	box-shadow: none;
	border: none;
	color: #FFF;
	font-family: $font-jamjuree;
	font-size: 1em;
	@include font-weight(regular);
	padding: 12px 40px;
	text-transform: uppercase;
	text-shadow: none;
	transition: background-color .3s;
	&:hover, &:focus {
		background-color: $color-orange;
		background-image: none;
		outline: none;
	}
}

.wp-block-button {
	background-color: $color-red;
	border-radius: 6px;
	text-align: center;
	.wp-block-button__link {
		background-color: $color-red;
		color: #FFF;
		font-size: 1.6em !important;
		&:hover, &:focus, &:visited {
			color: #FFF;
		}
	}
	&._float {
		margin-bottom: 0;
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 100;
	}
}

label {
	margin-bottom: 10px;
}

input[type=text], input[type=email], input[type=url], textarea {
	border: 1px solid $color-orange;
	border-radius: 4px;
	box-sizing: border-box;
	color: $color-orange;
	font-family: $font-jamjuree;
	font-size: 1em;
	@include font-weight(regular);
	padding: 10px 20px;
	&:focus {
		color: $color-orange;
		outline: none;
	}
}

select {
	border: 1px solid $color-orange;
	border-radius: 10px;
	color: $color-orange;
	cursor: pointer;
	font-family: $font-jamjuree;
	font-size: 1em;
	@include font-weight(regular);
	padding: 10px 20px;
	text-align: center;
	height: 42px;
	width: 100%;
	&:focus {
		color: $color-orange;
		outline: none;
	}
}


@media only screen and (max-width: 767px) {

	.contact-form input[type=email], .contact-form input[type=text], .contact-form input[type=url], .contact-form textarea {
		width: 80%;
	}

	.wp-block-button {
		.wp-block-button__link {
			font-size: 1.3em !important;
		}
		&._float {
			left: 10px;
			width: calc(100% - 20px);
		}
	}

}