/* HEADER
---------------------------------------*/

.site-header {
	position: relative;
	background: url('https://2019.bangkok.wordcamp.org/files/2018/11/illustration-bg-5.png') center bottom no-repeat transparent;
	background-size: cover;
	padding-top: calc(28.125% + 48px);
	hgroup {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 25%;
	}
}

.site-title {
	margin-bottom: 0;
	a {
		display: block;
		background: url('https://2019.bangkok.wordcamp.org/files/2018/11/wc2019-logo-trans@2x.png') top center no-repeat transparent;
		background-size: cover;
		padding-top: 74.758842%;
		width: 100%;
		height: 0;
		text-indent: -9999px;
	}
}

.site-description {
	background: linear-gradient(180deg,#d43e38 0%,#ea8c70 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-family: $font-jamjuree;
	font-size: 1.3em;
	font-weight: 500;
	text-align: center;
	padding-top: .5em;
}

.home {

	.site-header {
		background: url('https://2019.bangkok.wordcamp.org/files/2018/11/illustration-bg-4.png') center bottom no-repeat transparent;
		background-size: cover;
		padding-top: calc(45% + 48px);
		hgroup {
			top: 45%;
			width: 30%;
		}
	}

	.site-description {
		font-size: 1.4em;
	}

}

@media only screen and (max-width: 768px) {

  .site-description {
  	font-size: .9em;
  }

  .home {

  	.site-header {
  		padding-top: 56.25%;
  	}
	  .site-description {
	  	font-size: 1em;
	  }
	}

}

@media only screen and (max-width: 480px) {

	.site-header {
		padding-top: 52%;
		hgroup {
			left: 50%;
			top: 30px;
			width: 50%;
			transform: translate(-50%,0);
		}
	}

  .site-description {
  	font-size: 1em;
  	padding-top: 5px;
  }

  .home {

  	.site-header {
			padding-top: 100%;
			background-size: 150%;
			hgroup {
				top: 46%;
				width: 65%;
				transform: translate(-50%,-50%);
			}
		}

		.site-description {
			font-size: .8em;
		}
  }

}





