/* HEADER
---------------------------------------*/

.site-header {
	position: relative;
	background: url('https://2019.bangkok.wordcamp.org/files/2018/11/illustration-bg-4.png') center bottom no-repeat transparent;
	background-size: cover;
	padding-top: calc(56.25% + 48px);
	hgroup {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 35%;
	}
}

.site-title {
	margin-bottom: 0;
	a {
		display: block;
		background: url('https://2019.bangkok.wordcamp.org/files/2018/11/wc2019-logo-trans@2x.png') top center no-repeat transparent;
		background-size: cover;
		padding-top: 74.758842%;
		width: 100%;
		height: 0;
		text-indent: -9999px;
	}
}

.site-description {
	background: linear-gradient(180deg,#d43e38 0%,#ea8c70 100%);
	-webkit-background-clip: text;
	color: transparent;
	font-family: $font-jamjuree;
	font-size: 1.5em;
	font-weight: 500;
	text-align: center;
	padding-top: .5em;
}

@media only screen and (max-width: 767px) {

  .site-description {
  	font-size: 1.4em;
  }

}

@media only screen and (max-width: 480px) {

	.site-header {
		padding-top: 100%;
		hgroup {
			top: 48%;
			width: 75%;
		}
	}

  .site-description {
  	font-size: 1em;
  	padding-top: 5px;
  }

}







