/* HEADER
---------------------------------------*/

.site-header {
	background-color: #FFF;
	padding: 200px 0 80px;
	text-align: center;
}

.site-title {
	margin-bottom: 0;
	a {
		background: linear-gradient(180deg, rgba(16,75,140,1) 0%, rgba(45,124,159,1) 70%, #d43e38 70%, #ea8c70 90%);
		-webkit-background-clip: text;
		color: transparent;
		font-size: 3em;
		line-height: 1;
		display: inline-block;
		width: 7em;
		text-align: center;
	}
}

.site-description {
	background: linear-gradient(180deg,#d43e38 0%,#ea8c70 100%);
	-webkit-background-clip: text;
	color: transparent;
	font-family: $font-jamjuree;
	font-size: 1.8em;
	font-weight: 500;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	
	.site-header {
		padding-top: 150px;
		padding-bottom: 0;
	}
  
	.site-title a {
		font-size: 2em;
	}

}

@media only screen and (max-width: 480px) {

	.site-header {
		padding-top: 40%;
		padding-bottom: 20%;
		background-color: #f7f8f4;
	}
  
	.site-title a {
		font-size: 1em;
	}

}







