/* ORGANIZER
---------------------------------------*/

.org-group {
	margin-bottom: 70px;
	position: relative;
	text-align: center;
	&::after {
		background-color: $color-navy;
		content: "";
		display: block;
		height: 2px;
		width: 100px;
		margin-left: -50px;
		position: absolute;
		bottom: -10px;
		left: 50%;
	}
}

.wcorg-organizer {
	margin-bottom: 50px;
	text-align: right;
	h2 {
		color: $color-navy;
		font-size: 1.3em;
		margin-bottom: 5px;
	}
}

.wcorg-organizer-description {
	.avatar {
		border: 2px solid $color-navy;
		border-radius: 15px;
		float: left;
		margin: 0 20px 20px 0;
	}
}

@media only screen and (max-width: 640px) {

	.org-group {
		margin-bottom: 50px;
	}

	.wcorg-organizer {
		text-align: left;
		h2 {
			font-size: 1.2em;
			text-align: center;
		}
	}

	.wcorg-organizer-description {
		.avatar {
			display: block;
			float: none;
			margin: 20px auto;
		}
	}

}