/* ORGANIZER
---------------------------------------*/

.wcorg-organizer {
	h2 {
		color: $color-navy;
		font-size: 1.25em;
	}
}

.wcorg-organizer-description {
	.avatar {
		float: left;
		margin: 0 20px 20px 0;
	}
}
