/* SPONSORS
---------------------------------------*/

.wcb_widget_sponsors {
	text-align: center;
	.sponsor-logo {
		display: inline-block !important;
		margin: 0 2em;
	}
}

.sponsor-level {
	margin-bottom: 80px;
	.sponsor-level-title {
		color: $color-orange;
		font-size: 2.4em;
		margin-bottom: 30px;
	}
	&.gold {
		img {
			max-height: 200px !important;
		}
	}
	&.silver {
		img {
			max-height: 170px !important;
		}
	}
	&.bronze {
		img {
			max-height: 130px !important;
		}
	}
	&.in-kind {
		img {
			max-height: 100px !important;
		}
	}
}

.wcorg-sponsor {
	margin-bottom: 50px;
	h3 {
		color: $color-navy;
		font-size: 1.6em;
		margin-bottom: 45px;
		text-align: center;
		display: none;
	}
}

.wcorg-sponsor-description {
	img {
		display: block;
		margin: 0 auto 30px;
		max-width: 700px;
		max-height: 280px;
	}
}

.wcorg-sponsor-level-gold, .wcorg-sponsor-level-silver, .wcorg-sponsor-level-bronze, .wcorg-sponsor-level-in-kind {
	h2 {
		background-color: $color-orange;
		border-radius: 15px;
		color: #FFF;
		font-size: 3em;
		max-width: 80%;
		padding: 20px 40px;
		margin: 0 auto 60px;
		text-align: center;
	}
}

.single-wcb_sponsor {
	.attachment-post-thumbnail {
		display: block;
		margin: 0 auto 50px;
		max-width: 600px;
		height: auto;
	}
}

@media only screen and (max-width: 767px) {

	.single-wcb_sponsor {
		.attachment-post-thumbnail {
			max-width: 320px;
		}
	}

	.wcorg-sponsor-description {
		img {
			max-width: 320px
		}
	}

}

@media only screen and (max-width: 320px) {

	.single-wcb_sponsor {
		.attachment-post-thumbnail {
			max-width: 280px;
		}
	}

	.wcorg-sponsor-description {
		img {
			max-width: 280px
		}
	}

}
