/* SPONSORS
---------------------------------------*/

.wcb_widget_sponsors {
	text-align: center;
	.sponsor-logo {
		display: inline-block !important;
		margin: 0 2em;
	}
}

.sponsor-level {
	margin-bottom: 80px;
	.sponsor-level-title {
		color: $color-orange;
		font-size: 2.4em;
		margin-bottom: 30px;
	}
	&.gold {
		img {
			max-height: 80px !important;
		}
	}
	&.silver {
		img {
			max-height: 50px !important;
		}
	}
}
