/* VARIABLES
---------------------------------------*/

// Font
$font-jamjuree:			"Bai Jamjuree", Helvetica, Arial, sans-serif;
$font-chonburi:			"Chonburi", cursive;

// Font Weight
$font-weight: (
	thin: 				100,
	extra-light: 		200,
	light: 				300,
	regular: 			400,
	medium: 			500,
	semi-bold: 		600,
	bold: 				700,
	extra-bold: 		800,
	black: 			900
);

// Color
$color-orange: 		#ea8c70;
$color-orange-darker: 		#c6441d;
$color-yellow: 		#edb959;
$color-navy: 		#104b8c;
$color-blue: #2d7c9f;

$body-color: 		#fff;
$heading-color:		$color-orange;
$text-color:			$color-navy;






