/* CONTENT
---------------------------------------*/

.site-content {
	@extend %grid-content;
	margin: 40px auto;
}

.entry-header {
	margin-bottom: 20px;
	position: relative;
	&::after {
		background-color: lighten($color-primary, 20%);
		content: "";
		display: block;
		height: 2px;
		width: 60px;
		position: absolute;
		bottom: -5px;
		left: 0;
		.page & {
			bottom: -10px;
		}
	}
}

.entry-title {
	color: $color-navy;
	font-size: 2.6em;
	line-height: 1.3;
	margin-bottom: 10px;
	> a {
		color: $color-navy;
		&:hover, &:focus {
			color: $color-secondary;
		}
		&:visited {
			color: $color-navy;
		}
	}
}

.entry-meta {
	color: $color-primary-darker;
	a, time {
		color: $color-primary;
	}
	.byline {
		color: $color-primary-darker;
	}
}

.entry-content {
	margin: 60px 0 0;
}

.hentry {
	margin-bottom: 70px;
	padding-bottom: 70px;
	position: relative;
	&::after {
		background-color: #ddd;
		content: "";
		display: block;
		height: 2px;
		width: 70%;
		position: absolute;
		bottom: 0;
		left: 15%;
	}
}

.tshirt-table {
	border: 1px solid $color-primary;
	th {
		background-color: $color-primary;
		border: 1px solid $color-primary-darker;
		color: #FFF;
		font-size: 1.3em;
		@include font-weight(regular);
		vertical-align: middle;
	}
	th, td {
		padding: 15px 20px;
		text-align: center;
	}
	td {
		border-top: 1px solid #f2f2f2;
		border-left: 1px solid #f2f2f2;
		font-size: 1.2em;
	}
}


@media only screen and (max-width: 768px) {

	.site-content {
		width: 80%;
		max-width: 100%;
	}

	.entry-title {
		font-size: 2.2em;
	}


}

@media only screen and (max-width: 767px) {

	.tshirt-table {
		th {
			font-size: 1.1em;
		}
		th, td {
			padding: 5px 10px;
		}
		td {
			font-size: 1em;
		}
	}


}


/* SHARE
---------------------------------------*/
.sharedaddy .sd-title {
	font-size: .9em;
	@include font-weight(regular);
}
