/* CONTENT
---------------------------------------*/

.site-content {
	@extend %grid-content;
	margin: 40px auto;
}

.entry-header {
	margin-bottom: 40px;
	position: relative;
	&::after {
		background-color: lighten($color-primary, 20%);
		content: "";
		display: block;
		height: 2px;
		width: 60px;
		position: absolute;
		bottom: -5px;
		left: 0;
		.page & {
			bottom: -10px;
		}
	}
}

.entry-title {
	color: $color-navy;
	font-size: 2.6em;
	line-height: 1.3;
	> a {
		color: $color-navy;
		&:hover, &:focus {
			color: $color-secondary;
		}
		&:visited {
			color: $color-navy;
		}
	}
}

.entry-meta {
	color: $color-primary-darker;
	a, time {
		color: $color-primary;
	}
	.byline {
		color: $color-primary-darker;
	}
}

.hentry {
	margin-bottom: 50px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	padding: 10px;
	margin-bottom: 13px;
	border-radius: 12px;
	border: 1px solid #ccc;
}

.contact-form label {
	margin-bottom: 10px;
}

.contact-form input[type="submit"] {
	background: #6099F6;
	color: #fff;
	border: 0;
	font-family: "Kanit", Helvetica, Arial, sans-serif;
}

/* FOOTER
---------------------------------------*/
// #primary-sidebar {
// 	width: 90%;
// 	max-width: 1200px;
// 	height: auto;
// 	margin: 20px auto 50px;
// 	display: flex;
// }

// #primary-sidebar aside {
// 	flex: 1;
// }

// #primary-sidebar .widget-title {
// 	color: #fff;
// }

// #primary-sidebar a {
// 	color: #00338D;
// }

// #primary-sidebar a:hover {
// 	text-decoration: underline;
// }


@media only screen and (max-width: 768px) {

	.entry-title {
		font-size: 2.2em;
	}

}
