/* CONTENT
---------------------------------------*/

.site-content {
	width: 90%;
	max-width: 1200px;
	height: auto;
	margin: 20px auto 50px;
}

.entry-title {
	font-size: 3em;
}

.entry-meta {
	color: #666;
	margin-top: -10px;
}

.entry-meta a time {
	color: #999;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	padding: 10px;
	margin-bottom: 13px;
	border-radius: 12px;
	border: 1px solid #ccc;
}

.contact-form label {
	margin-bottom: 10px;
}

.contact-form input[type="submit"] {
	background: #6099F6;
	color: #fff;
	border: 0;
	font-family: "Kanit", Helvetica, Arial, sans-serif;
}

/* FOOTER
---------------------------------------*/
#primary-sidebar {
	width: 90%;
	max-width: 1200px;
	height: auto;
	margin: 20px auto 50px;
	display: flex;
}

#primary-sidebar aside {
	flex: 1;
}

#primary-sidebar .widget-title {
	color: #fff;
}

#primary-sidebar a {
	color: #00338D;
}

#primary-sidebar a:hover {
	text-decoration: underline;
}



