/* FONTS
---------------------------------------*/

body, * {
	color: $text-color;
	font-family: $font-pridi;
	@include font-weight(regular);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-mitr;
	@include font-weight(regular);
	margin-bottom: .5em;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.9em;
}

h4 {
	font-size: 1.7em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.2em;
}

b, strong {
	@include font-weight(semi-bold);
}

a {
	text-decoration: none;
}

p, li {
	font-size: 1.1em;
}