/* FONTS
---------------------------------------*/

body, * {
	color: $text-color;
	font-family: $font;
	@include font-weight(regular);
}

b, strong {
	@include font-weight(semi-bold);
}

a {
	text-decoration: none;
}
