/* FOOTER
---------------------------------------*/

#secondary {
	background-color: $color-primary;
	overflow: hidden;
	padding: 20px 0;
	.widget {
		float: left;
	}
}

.site-footer {
	clear: both;
	.site-info {
		background-color: $color-primary-darker;
		padding: 10px 0;
		text-align: center;
		a {
			color: #FFF;
			display: inline-block;
			font-size: 1em;
			@include font-weight(light);
			margin: 0 10px;
			+ a {
				&::before {
					content: "\f19a";
					font-family: FontAwesome;
					display: inline-block;
					padding-right: 23px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {

	.site-footer {
		.site-info {
			a {
				+ a {
					&::before {
						content: "";
					}
				}
			}
		}
	}

}