/* NAVIGATION
---------------------------------------*/

.main-navigation {
	background-color: $color-primary;
	opacity: .9;
	padding: 15px 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	.admin-bar & {
		top: 32px;
	}
	.menu {
		text-align: center;
		li {
			display: inline-block;
			float: none;
			margin: 0 10px;
			> a {
				color: #FFF;
				font-size: 1.2em;
				@include font-weight(light);
				padding: 10px 25px;
				border-radius: 15px;
			}
			&.current-menu-item {
				> a {
					background-color: $color-secondary;
				}
				&:hover, &:focus {
					> a {
						background-color: $color-secondary;
					}
				}
			}
			&:hover, &:focus {
				> a {
					background-color: $color-primary-darker;
				}
			}
			&.menu-item-has-children {
				&:hover, &:focus {
					> a {
						border-radius: 15px 15px 0 0;
					}
				}
			}
		}
	}
	.sub-menu {
		background-color: $color-primary-darker;
		border-radius: 0 15px 15px 15px;
		padding: 10px 0 15px;
		top: 90%;
		text-align: left;
		li {
			> a {
				font-size: 1.1em;
				padding: 8px 15px 8px 20px;
				&::before {
					content: "\f0da";
					display: inline-block;
					font-family: FontAwesome;
					padding-right: 8px;
				}
			}
		}
	}
}

.menu-toggle {
	background-color: $color-primary;
	box-shadow: 0 0 8px rgba(0,0,0,.3);
	color: $color-primary;
	display: block;
	font-family: 'Kanit';
	@include font-weight(medium);
	font-size: .5em;
	@include circle(50px);
	position: fixed;
	top: 10px;
	right: 10px;
	text-align: center;
	z-index: 1000;
	transition: all .3s;
	.admin-bar & {
		top: 56px;
	}
	&::after {
		content: "\f0c9";
		color: #FFF;
		display: block;
		font-family: FontAwesome;
		font-size: 2.6em;
		@include wh(50px, 50px);
		position: absolute;
		top: 10px;
		text-align: center;
	}
}

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
	background-color: $color-secondary;
	color: $color-secondary;
	top: 20px;
	right: 20px;
	.admin-bar & {
		top: 66px;
	}
	&::after {
		content: "\f00d";
		top: 8px;
	}
}

.main-small-navigation{
	.menu-main-container, .menu-at-launch-container {
		background-color: $color-primary;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	.menu {
		list-style-type: none;
		margin: 0;
		padding: 20px 25px;
		min-height: 100vh;
		li {
			color: $color-navy;
		}
		a {
			color: #FFF;
			font-size: 1.2em;
			line-height: 1.8;
			&:visited {
				color: #DFDFDF;
			}
		}
		.admin-bar & {
			padding-top: 50px;
		}
	}
}

@media only screen and (max-width: 1024px) {

	.main-navigation .menu li > a {
		padding: 10px 15px;
	}
}

@media only screen and (max-width: 768px) {

	.main-navigation {
		padding: 10px 0;
		.admin-bar & {
			top: 46px;
		}
		.menu {
			li {
				> a {
					font-size: 1em;
					padding: 5px 14px;
					border-radius: 15px;
				}
				&.menu-item-has-children {
					&:hover, &:focus {
						> a {
							border-radius: 15px 15px 0 0;
						}
					}
				}
			}
		}
		.sub-menu {
			border-radius: 0 15px 15px 15px;
			li {
				> a {
					font-size: .9em;
					padding: 5px 10px;
				}
			}
		}
	}

}
