/* ORGANIZER
---------------------------------------*/

.wcorg-organizers {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.wcorg-organizer {
	margin-bottom: 15px;
	h2 {
		font-size: 1.3em;
		margin-bottom: 5px;
	}
}

.wcorg-organizer-description {
	.avatar {
		border: 2px solid $color-navy;
		border-radius: 15px;
	}
}

@media only screen and (max-width: 1024px) {

	.wcorg-organizers {
		justify-content: space-evenly;
	}

	.wcorg-organizer {
		h2 {
			font-size: 1.1em;
		}
	}

}