/* VARIABLES
---------------------------------------*/

// Font
$font-mitr:				"Mitr", Helvetica, Arial, sans-serif;
$font-pridi:			"Pridi", Helvetica, Arial, sans-serif;

// Font Weight
$font-weight: (
	thin: 				100,
	extra-light: 		200,
	light: 				300,
	regular: 			400,
	medium: 			500,
	semi-bold: 			600,
	bold: 				700,
	extra-bold: 		800,
	black: 				900
);

// Color
$color-primary: 		#5e9af9;
$color-primary-darker: 	#4581e3;
$color-secondary: 		#ed3c59;
$color-navy:	 		#1c1958;

$body-color:			#fff;
$text-color:			$color-navy;






